.hello {
  color: red;
  background: url('./avatar.jpg');
  width: 100px;
  height: 100px;
  border: 1px solid red;
  /* font-family: 'myFont'; */
}
/* 自定义字体文件 */
/* @font-face {
  font-family: 'myFont';
  src: url('./my-font.woff2') format('woff2'), 
       url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */